@charset "utf-8";
/* ボーカル用css */

/* ページ見出し */
h1 {
    margin: 0;
    color: white;
    background-color: rgba(255, 242, 53, 0.884);
    font-family: Meiryo, "メイリオ";
    font-size: 70px;
    text-decoration:underline 4px rgba(143, 16, 16, 0.884);
    text-shadow:2px 1px 1px rgb(60, 60, 97);
    text-align: center;
}

/* メニュー */
#links {
    margin: 0;
    padding: 0;
    background-color: rgba(236, 238, 124, 0.267);
    text-align: center;
    font-size: 25px;
}

div.Menu {
    display: none;
}

div.Menu ul {
    margin: 0; padding: 0;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    list-style-type: none;
    
}
div.Menu li {
    width: 25%;
}
div.Menu a {
    margin: 2px; padding: 5px; 
    display: block;
    font-size: 20px; font-weight: bold;
    background-color: rgba(236, 238, 124, 0.267); color: rgb(255, 255, 255);
    text-decoration:underline 2px rgba(147, 211, 171, 0.651);
    text-shadow:1px 1px 1px black;
    text-align: center;
}

/* 画像の横に説明文を配置 */
#contents {
    margin: 0; padding: 0;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    list-style-type: none;
}

/* 説明文 */
#texts {
    border: solid 2px black;
    position: relative; left: 40px;
}

dt {
    position: relative; left: 10px;
    color: rgba(255, 242, 53, 0.884);
    font-size: 25px;
}

dd {
    font-size: 20px;
}

/* 各種動画、音楽 */
#music {
    margin: 0; padding: 0;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    list-style-type: none;
    position: relative; left: 100px; top: 50px;
}

#bassImage {
    position: relative; left: 80px;
}

footer {
    position: relative; top: 50px;
}